.about{
    display: flex;
    justify-content: space-around;
    padding: 2rem;
}
img{
    height: 10%;
    width: 10%;
}
body {
    background: linear-gradient(-90deg, #1ed2d2, rgb(235, 233, 135), thistle, #7fa7a7);
    background-size: 1000% 1000%;
    height: fit-content;
    position: relative;
    animation: change 8s ease-in-out infinite;

}

@keyframes change {
    0% {
        background-position: 0% 50%;
    }

    50% {
        background-position: 100% 50%;
    }

    100% {
        background-position: 0% 50%;
    }
}