#home_container{
    width: 100%;
    height: fit-content;
    /* display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center; */
    text-align: center;
}

p{
    font-weight: 500;
}

#lorem_home{
    padding: 2rem;
}
.image{
    width: 40%;
    height: 18%;
    box-shadow: rgb(172, 94, 94) 3px 3px 3px 3px,rgb(172, 94, 94) 2px 2px 2px 2px ;
}