.todo
{
    width: 100%;
    height: 100%;
    background-image: url('https://media.istockphoto.com/photos/concept-of-an-open-magic-book-open-pages-with-water-and-land-and-picture-id1279460648?b=1&k=20&m=1279460648&s=170667a&w=0&h=uZa830sWo8hlFN0Y7FnQ14giNC0Z2EBNuTMuNJeJhQg=');
    background-size: 100% 100%;
    height: fit-content;
    position: relative;
}
.form-container{
    position: relative;
    width:60%;
    height:50%;
    padding-left: 20%;
    text-align: center;
    

}

.contactform{
    position: absolute;
    width:80%;
    height:50%;
    padding-top: 1%;
}
input,textarea{
    background: white;
    width:90%;
    line-height: 200%;
    margin-top:1rem;
    border:none;
    border-bottom:1px solid blue;
    font-size: x-large;
}
.submit{
    background:#0066A2;
    color:white;
    padding: 1%;
    width: 25%;
    font-size: large;
    text-align:center;
    border-radius: 2em;
    border:2px solid black ;
}
.submit:hover{
    opacity:0.5;
}
::placeholder{
    color: red;
    opacity: 0.8;
    font-size: 98%;
}
button{
    background:#0066A2;
    color:white;
    border: none;
    border-radius: 2em;
    height: 10%;
    width:5%;
    padding:2%;
    font-size: 40%;

}