
.form-container{
    position: relative;
    width:60%;
    height:50%;
    padding-left: 20%;
    text-align: center;
    

}

.contactform{
    position: absolute;
    width:80%;
    height:50%;
    padding-top: 1%;
}
input,textarea{
    background: white;
    width:90%;
    line-height: 200%;
    margin-top:1rem;
    border:none;
    border-bottom:1px solid blue;
    font-size: x-large;
}
.submit{
    background:#0066A2;
    color:white;
    padding: 1%;
    width: 25%;
    font-size: large;
    text-align:center;
    border-radius: 2em;
    border:2px solid black ;
}
.submit:hover{
    opacity:0.5;
}
::placeholder{
    color: red;
    opacity: 0.8;
    font-size: 98%;
}
button{
    background:#0066A2;
    color:white;
    border: none;
    border-radius: 2em;
    height: 10%;
    width:5%;
    padding:2%;
    font-size: 40%;

}